
{% extends 'base/base.html' %}

{% block page_content %}
 <!-- Dropdown Card Example -->
 <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Clientes</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                    <a class="dropdown-item" onclick="return abrir_modal('{% url 'fac:cliente_new' %}')"> <i class="far fa-calendar-plus"></i> Nuevo</a>
                    <!-- <a class="dropdown-item" href="#">Another action</a> -->
                <div class="dropdown-divider"></div>
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
       
       {% if not obj %}
            <div class="alert alert-info">No Hay Clientes</div>           
       {% endif %}
       <!-- <div class="buttons-toolbar">
            <button type="button" class="btn btn-primary" onclick="return abrir_modal('{% url 'fac:cliente_new' %}')"><i class="far fa-calendar-plus">Nuevo</i></button>
       </div> -->

       <table
            id="table"
            data-toggle="table"
            data-pagination="true"
            data-page-size="5"
            data-search="true"
            data-show-columns="true"
            data-show-fullscreen="true"
            data-show-toggle="true"
            data-show-export="true"
            data-click-to-select="true"
            data-locale="es-MX"
            data-sort-order="desc"
        >
           <thead>
               <th data-field="id" data-sortable="true">Id</th>
               <th data-field="nombres" data-sortable="true">Nombres</th>
               <th data-field="apellidos" data-sortable="true">Apellidos</th>
               <th>Celular</th>
               <th data-field="tipo" data-sortable="true">Tipo</th>
               <th>Estado</th>                                  
               <th class="all">Acciones</th>
           </thead>

           <tbody>               
               {% for item in obj %}
                   <tr>
                       <td>{{ item.id }}</td>
                       <td>{{ item.nombres }}</td>
                       <td>{{ item.apellidos }}</td>
                       <td>{{ item.celular }}</td>
                       <td>{{ item.tipo }}</td>                                          
                       <td>{# item.estado|yesno:"Activo,Inactivo" #}
                            <div onclick="inactivar({{ item.id }})">
                                <!-- si el cliente esta activo -->
                                {% if item.estado %} 
                                    <i class="far fa-thumbs-up text-primary"></i>
                                {% else %}
                                    <i class="far fa-thumbs-down text-danger"></i>
                                {% endif %}
                            </div>      
                       </td>
                       <td>
                            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'fac:cliente_edit' item.id %}')"><i class="far fa-edit"></i></button>
                       </td>
                   </tr>
               {% endfor %}
                   
           </tbody>
       </table>       

    </div>
</div>

{% endblock page_content %}

{% block js_page %}

    <script>

        // Jquery para inactivar cliente
        function inactivar(id){
            var data = {id:id};
            data = JSON.stringify(data);
            var token = '{{csrf_token}}';
            // alert(token);
            // alert(id);            

            $.ajax({
                headers: {'X-CSRFToken': token},
                type: "POST",
                url: "estado/"+id,
                data: data,
                success: function(response){
                    if(response == "OK"){
                        location.reload(true);
                    }else{
                        mensaje("Error Intentando Cambiar Estado a Cliente");
                    }
                },
                error: function(jqXHR, textStatus, errorThrow){
                    console.log(textStatus, errorThrow);
                    mensaje(errorThrow, 'red');
                    cerrar_modal();
                }
            });

        }

        var $table = $('#table')

        $(function() {
            $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                columns: [
                {
                    field: 'state',
                    checkbox: true,
                    visible: $(this).val() === 'selected'
                },
                {
                    field: 'id',
                    title: 'ID'
                }, {
                    field: 'name',
                    title: 'Item Name'
                }, {
                    field: 'price',
                    title: 'Item Price'
                }
                ]
            })
            }).trigger('change')
        })

        // llamamos el dataTables jQuery plugin
        // $(function() {
        //     $("#sidebarToggle").click();
        //     $('.table').DataTable({
        //         "language": {
        //             "processing": "Procesando...",
        //             "lengthMenu": "Mostrar _MENU_ registros",
        //             "zeroRecords": "No se encontraron resultados",
        //             "emptyTable": "Ningún dato disponible en esta tabla",
        //             "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        //             "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        //             "search": "Buscar:",
        //             "infoThousands": ",",
        //             "loadingRecords": "Cargando...",
        //             "paginate": {
        //                 "first": "Primero",
        //                 "last": "Último",
        //                 "next": "Siguiente",
        //                 "previous": "Anterior"
        //             },
        //             "aria": {
        //                 "sortAscending": ": Activar para ordenar la columna de manera ascendente",
        //                 "sortDescending": ": Activar para ordenar la columna de manera descendente"
        //             }
        //         }
        //     });
        // });
    </script>
    
{% endblock js_page%}
    

